.footer{
    display:flex;
    flex-direction: row;
    background-color: var(--darkgray);
    padding: 4vw;
    div{
        width:25vw;
        display:flex;
        flex-direction:column;
        h3{
            color:var(--cream);
            font-family:bold !important;
        }
        a{
            color:var(--cream);
            padding:.6vw 0;
            padding-left:0;
            transition:.2s;
            padding-right:1vw;
            &:hover{
                padding-left: 2vw;
                background-color: var(--cream);
                border-radius:100vw;

                color:var(--darkgray);
            }
        }
    }
}