.footer {
    display: flex;
    flex-direction: row;
    background-color: var(--darkgray);
    padding: 2vw;
    color: var(--cream);
    z-index: 100;
    position: relative;

    div {
        width: 16vw;
        display: flex;
        flex-direction: column;

        h3 {
            margin: 0;
            color: var(--cream);
            font-family: bold !important;
        }

        a {
            color: var(--cream);
            padding: .6vw 0;
            padding-left: 0;
            transition: .2s;
            padding-right: 1vw;
            margin: 0;
            font-size: 1vw;

            &:hover {
                padding-left: 2vw;
                background-color: var(--cream);
                border-radius: 100vw;

                color: var(--darkgray);
            }
        }
    }
}

@media(max-width:500px){
    .footer{
        flex-direction: column;
        padding:5vw 4vw;
       
        div:nth-child(2){
            display:none;
        }
        div{
            width:100vw;
            h3{
                font-size:5vw;
            }
            a{
                font-size: 3vw;
            }
        }
    }
}