.giftSection{

}
.giftSectionMobile{
display:none;
}

.giftReviews{
    display:flex;
    flex-direction:column;
    align-items: center;
    h1{
        font-size:4vw;
    }
    div{
        width:80%;
    }
}
.giftBTN{
    background-color: var(--darkgray);
    padding:.5vw 2vw;
    padding-top:1vw;
}
.gift{
 width:100vw;
 height:auto;
 display:flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: center;
 h1{
    font-size:3.5vw;
    width:90vw;
    padding-top:2vw;
    font-family:title;
 }
 h2{
    font-size:2vw;
    font-family:title;
    padding-bottom:1vw;
 }
 a{
    cursor: pointer;
 

    color:var(--cream);

    border-radius:2vw;
    font-size:2.2vw;
    font-family:title;
    img{
        height:5vw;
        
        color:var(--cream);
    }

 }
 div{
    display:flex;
    flex-direction:row;
    width:70%;
    margin-top:2vw;
    margin-bottom:4vw;
    position:relative;
    overflow:hidden;
    border-radius:10vw;
    img{
        position:relative;
        top:0;
        left:0;
        width:100%;
        animation: 15s slide2 infinite linear;
    }
 }
 @keyframes slide2 {
    0% {
        left: 0%;
    }

    100% {
        left: -200%;
    }
}
}

@media(max-width:500px){
    .giftSection{
        display:none;
    }
    .giftSectionMobile{
        display:flex;
    }
    .gift{
        width:100vw;
        height:auto;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h1{
           font-size:8vw;
           width:95vw;
           padding-top:2vw;
           font-family:title;
           line-height:10vw;
           margin-top:4vw;
        }
        h2{
           font-size:5vw;
           font-family:title;
           padding-bottom:1vw;
           margin: 2vw 0;
        }
        a{
           cursor: pointer;
           font-size:8vw;
           padding:0 4vw;
           padding-top:2vw;
           border-radius:20vw;

           img{
               height:15vw;
           }
       
        }
        div{
           display:flex;
           flex-direction:row;
           width:90%;
           position:relative;
           overflow:hidden;
           border-radius:10vw;
           img{
               position:relative;
               top:0;
               left:0;
               height:60vw;
               width:200%;
               animation: 15s slide2 infinite linear;
           }
        }
        section{
            
        }
        @keyframes slide2 {
           0% {
               left: 0%;
           }
       
           100% {
               left: -200%;
           }
       }
       }

}