:root{
    --cream: #EBEBE2;
    --darkgray: #263743;
}

@font-face{
    font-family:regular;
    src:url("../fonts/poppins.ttf");
}

@font-face{
    font-family:title;
    src:url("../fonts/sportingreg.otf");
}

@font-face{
    font-family:bold;
    src:url("../fonts/sportingbold.otf");
}