.services {
    width: 100vw;
    display: flex;
    flex-direction: row;

    hr {
        width: 10%;

        margin: 0;
        margin-bottom: 1vw;
        margin-top: .5vw;
    }

}


.sticky {
    gap: 1vw;
    padding: 1vw;
    width: 50%;
    position: fixed;

    h1 {
        font-size: 6vw;
    }

    div {
        a {
            padding: 1vw;
            border: 1px solid var(--darkgray);

            &:nth-child(1) {
                background: var(--darkgray);
                color: var(--cream);
            }

            &:nth-child(2) {
                background: transparent;
                color: var(--darkgray);
            }
        }


    }

    aside {
        display: flex;
        flex-direction: column;
        padding-top: 10vw;
        z-index: -5;

        a {
            color: black;
            margin: 0;
            padding: .2vw;
            width: 10vw;
            padding-left: .5vw;


            &:hover {
                background-color: black;
                border-radius: 2vw;
                color: white;

            }

            font-size: 1vw;
        }
    }

    img {}
}

.fluid {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 40%;
    padding: 1vw;
    justify-content: start;

    h1 {
        font-size: 3vw;
        text-align: left;
    }

    .module {
        display: flex;
        flex-direction: column;
        width: 100%;

        h1 {
            width: 100%;
        }

        section {
            display: flex;
            width: 100%;
            gap: 3vw;

            img {
                width: 47%;
                margin: 0;
                margin-bottom: 1vw;
                border: .5px solid black;
            }
        }

        div {
            width: 100%;


            h2 {
                font-size: 1.4vw;
            }

            p {
                font-size: 1vw;
            }
        }
    }
}