body {
  overflow-X: hidden;
  background-color: var(--cream);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0 auto;
  font-family: title;
}

p {
  font-family: regular;
}

h1 {
  font-family: bold;
}

a {
  font-family: regular;
  text-decoration: none;
}

.about {
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: relative;
}
.about div {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.about div:nth-child(1) {
  width: 65%;
}
.about div:nth-child(2) {
  width: 45%;
}
.about div article {
  padding: 7vw;
}
.about div article h1 {
  font-size: 3vw;
}
.about div article p {
  font-size: 2vw;
}
.about div section {
  background: url("../media/aboutimage.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: -moz-hidden-unscrollable;
}
.about div section img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.about div section img:hover {
  opacity: 0.7;
  width: 120%;
}

@media (max-width: 500px) {
  .about {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
  }
  .about div {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .about div:nth-child(1) {
    width: 100%;
  }
  .about div:nth-child(2) {
    width: 100%;
  }
  .about div article {
    padding: 7vw;
  }
  .about div article h1 {
    font-size: 10vw;
  }
  .about div article p {
    font-size: 5vw;
    text-align: center;
  }
  .about div section {
    background: url("../media/aboutimage.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: -moz-hidden-unscrollable;
  }
  .about div section img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  .about div section img:hover {
    opacity: 0.7;
    width: 120%;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  background-color: var(--darkgray);
  padding: 2vw;
  color: var(--cream);
  z-index: 100;
  position: relative;
}
.footer div {
  width: 16vw;
  display: flex;
  flex-direction: column;
}
.footer div h3 {
  margin: 0;
  color: var(--cream);
  font-family: bold !important;
}
.footer div a {
  color: var(--cream);
  padding: 0.6vw 0;
  padding-left: 0;
  transition: 0.2s;
  padding-right: 1vw;
  margin: 0;
  font-size: 1vw;
}
.footer div a:hover {
  padding-left: 2vw;
  background-color: var(--cream);
  border-radius: 100vw;
  color: var(--darkgray);
}

@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    padding: 5vw 2vw;
  }
  .footer div:nth-child(2) {
    display: none;
  }
  .footer div {
    width: 100vw;
  }
  .footer div h3 {
    font-size: 8vw;
  }
  .footer div a {
    font-size: 6vw;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 52vw;
  background: url(../media/heroimage.png);
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}

.innerHero {
  display: flex;
  flex-direction: column;
  height: 62%;
  margin-bottom: 4vw;
  justify-content: center;
  align-items: center;
}
.innerHero h1 {
  font-size: 5vw;
  color: var(--cream);
  margin-top: 13vw;
}
.innerHero h2 {
  color: var(--cream);
  font-size: 2vw;
}
.innerHero a {
  outline: none;
  background-color: var(--cream);
  padding: 1vw;
  font-family: title;
  color: var(--darkgary);
  border: var(--darkgray) 1px solid;
  border-radius: 2vw;
  margin-top: 2vw;
}

@media (max-width: 500px) {
  .hero {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: url(../media/heroimagevert1.png);
    background-size: cover;
    background-attachment: fixed;
  }
  .innerHero {
    display: flex;
    flex-direction: column;
    height: 65%;
    margin-bottom: 4vw;
    justify-content: center;
    align-items: center;
  }
  .innerHero h1 {
    font-size: 12vw;
    text-align: center;
    color: var(--cream);
    margin-top: 10vw;
  }
  .innerHero h2 {
    color: var(--cream);
    font-size: 6vw;
    text-align: center;
  }
  .innerHero a {
    outline: var(--darkgray);
    background-color: var(--cream);
  }
}
:root {
  --cream: #EBEBE2;
  --darkgray: #263743;
}

@font-face {
  font-family: regular;
  src: url("../fonts/poppins.ttf");
}
@font-face {
  font-family: title;
  src: url("../fonts/sportingreg.otf");
}
@font-face {
  font-family: bold;
  src: url("../fonts/sportingbold.otf");
}
.slide {
  display: flex;
  flex-direction: row;
  width: 200vw;
  position: relative;
  animation: 10s slide infinite linear;
  background-color: var(--darkgray);
  color: var(--cream);
  padding-top: 0.5vw;
  left: 0;
}
.slide div {
  display: flex;
  gap: 2vw;
  flex-direction: row;
}

@keyframes slide {
  0% {
    left: 0vw;
  }
  100% {
    left: -100vw;
  }
}
@media (max-width: 500px) {
  .slide {
    display: flex;
    flex-direction: row;
    width: 200vw;
    position: relative;
    animation: 10s slide infinite linear;
    background-color: var(--darkgray);
    color: var(--cream);
    padding-top: 0.5vw;
    left: 0;
  }
  .slide div {
    display: flex;
    gap: 2vw;
    flex-direction: row;
  }
  .slide div h1 {
    text-align: center;
  }
  .slide div h1:nth-child(1) {
    display: none;
  }
  @keyframes slide {
    0% {
      left: 0vw;
    }
    100% {
      left: -100vw;
    }
  }
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 13vw;
  align-items: center;
  background-color: var(--darkgray);
  width: 100vw;
  padding: 1vw 0;
  padding-left: 2vw;
}
.nav img {
  margin-right: 18vw;
  height: 3vw;
}
.nav section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4vw;
}
.nav section a {
  color: var(--cream);
  font-size: 1.2vw;
  position: relative;
  transition: 0.2s all;
  width: auto;
  flex-shrink: 0;
  padding: 0.1vw 0.5vw;
}
.nav section a:hover {
  color: var(--darkgray);
  border-radius: 1vw;
  background-color: var(--cream);
}
.nav .dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  width: 6vw;
  margin: 0;
  cursor: pointer;
}
.nav .dropdown img {
  height: 2vw;
  transition: 0.2s all;
  filter: invert(180);
}
.nav .dropdown img:hover {
  cursor: pointer;
  filter: invert(0);
}
.nav .dropdownextended {
  display: flex;
  flex-direction: column;
  background-color: var(--darkgray);
  position: absolute;
  top: 4vw;
  left: 10vw;
  padding: 0.3vw 0.5vw;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  opacity: 0;
  display: none;
  z-index: 5;
}
.nav .dropdownextended a {
  text-decoration: none;
  font-size: 1.2vw;
  padding: 0.1vw 1vw;
  margin: 0;
}
.nav button {
  background-color: var(--darkgray);
  color: var(--cream);
  border-radius: 50vw;
  border: none;
  padding: 1vw 0;
  transition: 0.2s all;
  overflow: hidden;
  width: 8vw;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}
.nav button .hdiv {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 16vw;
  height: 100%;
  align-items: center;
}
.nav button h1 {
  font-size: 1vw;
}
.nav button:hover {
  color: var(--cream);
  background-color: var(--darkgray);
  cursor: pointer;
}
.nav button:hover div {
  animation: 1s buttonslide infinite linear;
}

@keyframes buttonslide {
  0% {
    left: 0vw;
  }
  100% {
    left: -8vw;
  }
}
.mobilenav {
  display: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 500px) {
  .mobilenav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 10vw 0;
    background-color: var(--darkgray);
    z-index: 2;
    display: none;
  }
  .mobilenav img {
    height: 10vw;
    position: absolute;
    filter: invert(180);
  }
  .mobilenav a {
    text-decoration: none;
    color: var(--cream);
    font-size: 6vw;
  }
  .mobilenav a:active {
    text-decoration: underline;
  }
  .mobilenav button {
    background-color: var(--cream);
    border-radius: 8vw;
    margin-top: 2vw;
  }
  .mobilenav button h1 {
    color: var(--darkgray);
    font-size: 9vw;
  }
  .mobilebutton {
    position: absolute;
    top: 3vw;
    right: 3vw;
    filter: invert(180);
    height: 5vw;
  }
  .nav {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    background-color: var(--darkgray);
    width: 100vw;
    min-height: 12vw;
    padding: 1vw 0;
  }
  .nav img {
    margin-right: 0vw;
    height: 10vw;
    position: absolute;
    top: 2vw;
    left: 2vw;
  }
  .nav section {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    height: 4vw;
  }
  .nav section a {
    display: none;
    color: var(--cream);
    font-size: 3.2vw;
    position: relative;
    transition: 0.2s all;
  }
  .nav .dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    width: 6vw;
    margin: 0;
    margin-right: 12vw;
  }
  .nav .dropdown img {
    display: none;
  }
  .nav .dropdownextended {
    display: flex;
    flex-direction: column;
    background-color: var(--darkgray);
    position: absolute;
    top: 4vw;
    left: 10vw;
    padding: 0.3vw 0.5vw;
    height: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    opacity: 0;
    display: none;
    z-index: 5;
  }
  .nav .dropdownextended a {
    text-decoration: none;
    font-size: 0.7vw;
    padding: 0.1vw 0;
    margin: 0;
  }
  .nav button {
    background-color: var(--darkgray);
    color: var(--cream);
    border-radius: 50vw;
    border: none;
    padding: 1vw 0;
    transition: 0.2s all;
    display: none;
    overflow: hidden;
    width: 8vw;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  }
  .nav button .hdiv {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 16vw;
    height: 100%;
    align-items: center;
  }
  .nav button h1 {
    font-size: 1vw;
  }
  .nav button:hover {
    color: var(--cream);
    background-color: var(--darkgray);
    cursor: pointer;
  }
  .nav button:hover div {
    animation: 1s buttonslide infinite linear;
  }
  @keyframes buttonslide {
    0% {
      left: 0vw;
    }
    100% {
      left: -8vw;
    }
  }
}
.services {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.services hr {
  width: 10%;
  margin: 0;
  margin-bottom: 1vw;
  margin-top: 0.5vw;
}

.sticky {
  gap: 1vw;
  padding: 1vw;
  width: 50%;
  position: fixed;
}
.sticky h1 {
  font-size: 6vw;
}
.sticky div a {
  padding: 1vw;
  border: 1px solid var(--darkgray);
  transition: 0.5s all;
}
.sticky div a:nth-child(1) {
  background: var(--darkgray);
  color: var(--cream);
}
.sticky div a:nth-child(1):hover {
  background: transparent;
  color: var(--darkgray);
}
.sticky div a:nth-child(2) {
  background: transparent;
  color: var(--darkgray);
}
.sticky div a:nth-child(2):hover {
  background: var(--darkgray);
  color: var(--cream);
}
.sticky aside {
  display: flex;
  flex-direction: column;
  padding-top: 10vw;
  z-index: -5;
}
.sticky aside a {
  transition: 0.1s all;
  color: black;
  margin: 0;
  padding: 0.2vw;
  border: 1px solid var(--darkgray);
  width: 10vw;
  padding-left: 0.5vw;
  background: transparent;
  color: var(--darkgray);
  font-size: 1vw;
}
.sticky aside a:hover {
  background: var(--darkgray);
  color: var(--cream);
}
.fluid {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 40%;
  padding: 1vw;
  justify-content: start;
}
.fluid h1 {
  font-size: 3vw;
  text-align: left;
}
.fluid .module {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fluid .module h1 {
  width: 100%;
}
.fluid .module section {
  display: flex;
  width: 100%;
  gap: 3vw;
}
.fluid .module section img {
  width: 47%;
  margin: 0;
  margin-bottom: 1vw;
  border: 0.5px solid black;
}
.fluid .module div {
  width: 100%;
}
.fluid .module div h2 {
  font-size: 1.4vw;
}
.fluid .module div p {
  font-size: 1vw;
}

@media (max-width: 500px) {
  .services {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .services hr {
    width: 10%;
    margin: 0;
    margin-bottom: 1vw;
    margin-top: 0.5vw;
  }
  .sticky {
    gap: 1vw;
    padding: 1vw;
    width: 100%;
    position: relative;
  }
  .sticky h1 {
    font-size: 8vw;
  }
  .sticky div a {
    padding: 1vw;
    border: 1px solid var(--darkgray);
  }
  .sticky div a:nth-child(1) {
    background: var(--darkgray);
    color: var(--cream);
  }
  .sticky div a:nth-child(2) {
    background: transparent;
    color: var(--darkgray);
  }
  .sticky aside {
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
    z-index: -5;
    display: none;
  }
  .sticky aside a {
    color: black;
    margin: 0;
    padding: 0.2vw;
    width: 10vw;
    padding-left: 0.5vw;
    font-size: 1vw;
  }
  .sticky aside a:hover {
    background-color: black;
    border-radius: 2vw;
    color: white;
  }
  .fluid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 40%;
    padding: 1vw;
    justify-content: start;
    margin: 0;
  }
  .fluid h1 {
    font-size: 6vw;
    text-align: left;
  }
  .fluid .module {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .fluid .module h1 {
    width: 100%;
  }
  .fluid .module section {
    display: flex;
    width: 100%;
    gap: 3vw;
  }
  .fluid .module section img {
    width: 97%;
    margin: 0;
    margin-bottom: 1vw;
    border: 0.5px solid black;
  }
  .fluid .module section img:nth-child(1) {
    display: none;
  }
  .fluid .module div {
    width: 100%;
  }
  .fluid .module div h2 {
    font-size: 5.4vw;
  }
  .fluid .module div p {
    font-size: 5vw;
  }
}
.balancerpro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding: 2vw;
  gap: 2vw;
  align-items: center;
}
.balancerpro h1 {
  font-size: 4vw;
}
.balancerpro img {
  height: 20vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  border-radius: 0.1vw;
}
.balancerpro p {
  width: 50%;
  font-size: 1.43vw;
  display: block;
  padding: 0 10vw;
  text-align: center;
}
.balancerpro ul {
  width: 50%;
  display: block;
  padding: 0 10vw;
}
.balancerpro ul li {
  font-size: 1vw;
  list-style: none;
  text-align: center;
}
.balancerpro hr {
  width: 50%;
  margin-bottom: 1vw;
  margin-top: 0.5vw;
}

@media (max-width: 500px) {
  .balancerpro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 0vw;
    gap: 2vw;
    text-align: center;
    align-items: center;
  }
  .balancerpro h1 {
    font-size: 8vw;
    text-align: center;
  }
  .balancerpro img {
    height: 40vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    border-radius: 0.1vw;
  }
  .balancerpro p {
    width: 100%;
    font-size: 3.43vw;
    display: block;
    padding: 0 0vw;
    text-align: center;
  }
  .balancerpro ul {
    width: 100%;
    display: block;
    padding: 0 0vw;
  }
  .balancerpro ul li {
    font-size: 3.43vw;
    list-style: none;
    text-align: center;
  }
  .balancerpro hr {
    width: 100%;
    margin-bottom: 1vw;
    margin-top: 0.5vw;
  }
}
.leftTurn {
  animation: 0.5s leftTurn forwards;
}

.rightTurn {
  animation: 0.5s rightTurn forwards;
}

@keyframes rightTurn {
  0% {
    transform: rotate(0deg);
    filter: invert(0);
  }
  100% {
    transform: rotate(-90deg);
    filter: invert(180);
  }
}
@keyframes leftTurn {
  0% {
    transform: rotate(-90deg);
    filter: invert(180);
  }
  100% {
    transform: rotate(0deg);
    filter: invert(0);
  }
}
.appear {
  animation: 0.5s appear forwards;
}

.disappear {
  animation: 0.5s disappear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.privacy {
  width: 70vw;
  height: auto;
  padding: 2vw;
  padding-right: 25vw;
  border: 5px solid black;
  margin-top: 1vw;
}

.reviews {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 40vw;
}
.reviews section {
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.reviews div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 0vw 0vw;
  border-radius: 10vw;
}
.reviews div h1 {
  width: 70%;
  font-size: 3vw;
  text-align: center;
}
.reviews div button {
  outline: none;
  border: 1px solid black;
  color: var(--darkgray);
  border-radius: 100vw;
  font-size: 2vw;
  padding: 0 1vw;
  padding-top: 0.6vw;
}
.reviews div button:hover {
  cursor: pointer;
  background-color: var(--darkgray);
  color: var(--cream);
}

@media (max-width: 500px) {
  .reviews {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    height: 120vw;
    margin: 4vw 0;
    margin-bottom: 8vw;
  }
  .reviews section {
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .reviews div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 0 8vw;
  }
  .reviews div h1 {
    font-size: 7vw;
    text-align: center;
  }
  .reviews div button {
    outline: none;
    border: 1px solid black;
    color: var(--darkgray);
    border-radius: 100vw;
    font-size: 8vw;
    padding: 2vw 4vw;
    padding-top: 2vw;
    margin: 4vw 0;
    margin-bottom: 8vw;
  }
  .reviews div button:hover {
    cursor: pointer;
    background-color: var(--darkgray);
    color: var(--cream);
  }
  .reviews div iframe {
    width: 100%;
    height: 80vw;
  }
}
.book {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}
.book h1 {
  font-size: 3.5vw;
}

@media (max-width: 500px) {
  .book h1 {
    font-size: 8vw;
  }
}
.giftSectionMobile {
  display: none;
}

.gift {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.gift h1 {
  font-size: 4vw;
  width: 80vw;
  padding-top: 2vw;
  font-family: title;
}
.gift h2 {
  font-size: 2vw;
  font-family: title;
  padding-bottom: 1vw;
}
.gift a {
  cursor: pointer;
}
.gift a img {
  height: 5vw;
}
.gift div {
  display: flex;
  flex-direction: row;
  width: 70%;
  position: relative;
  overflow: hidden;
  border-radius: 10vw;
}
.gift div img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  animation: 15s slide2 infinite linear;
}
@keyframes slide2 {
  0% {
    left: 0%;
  }
  100% {
    left: -200%;
  }
}

@media (max-width: 500px) {
  .giftSection {
    display: none;
  }
  .giftSectionMobile {
    display: flex;
  }
  .gift {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .gift h1 {
    font-size: 8vw;
    width: 95vw;
    padding-top: 2vw;
    font-family: title;
  }
  .gift h2 {
    font-size: 5vw;
    font-family: title;
    padding-bottom: 1vw;
  }
  .gift a {
    cursor: pointer;
  }
  .gift a img {
    height: 15vw;
  }
  .gift div {
    display: flex;
    flex-direction: row;
    width: 90%;
    position: relative;
    overflow: hidden;
    border-radius: 10vw;
  }
  .gift div img {
    position: relative;
    top: 0;
    left: 0;
    height: 60vw;
    width: 200%;
    animation: 15s slide2 infinite linear;
  }
  @keyframes slide2 {
    0% {
      left: 0%;
    }
    100% {
      left: -200%;
    }
  }
}
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5vw;
  background-color: var(--cream);
  padding: 0.1vw;
}

html::-webkit-scrollbar-track {
  border-bottom-left-radius: 100vw;
  border-bottom-right-radius: 100vw;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--darkgray);
  border-bottom-left-radius: 100vw;
  border-bottom-right-radius: 100vw;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: white;
  border: 1px solid black;
}/*# sourceMappingURL=index.css.map */