body {
    overflow-X: hidden;
    background-color: var(--cream);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
    font-family: title;
}

p {
    font-family: regular;
}

h1 {
    font-family: bold;
}

a {
    font-family: regular;
    text-decoration: none;
}

@import 'scss/about';
@import 'scss/footer';
@import 'scss/hero';
@import 'scss/resources';
@import 'scss/slide';
@import 'scss/navbar';
@import 'scss/services';
@import 'scss/balancerpro';
@import 'scss/animations';
@import 'scss/additions';

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .5vw;
    background-color: var(--cream);

    padding: .1vw;
}

html::-webkit-scrollbar-track {

    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--darkgray);
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;

}

html::-webkit-scrollbar-thumb:hover {
    background-color: white;
    border: 1px solid black;
}